redhawk/src/xml/xsd/spd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file 
distributed with this source distribution.

This file is part of REDHAWK core.

REDHAWK core is free software: you can redistribute it and/or modify it under 
the terms of the GNU Lesser General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) any 
later version.

REDHAWK core is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more 
details.

You should have received a copy of the GNU Lesser General Public License along 
with this program.  If not, see http://www.gnu.org/licenses/.
-->

<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema targetNamespace="urn:mil:jpeojtrs:sca:spd"
           xmlns="urn:mil:jpeojtrs:sca:spd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
           elementFormDefault="unqualified"
	   ecore:nsPrefix=""
	   ecore:package="mil.jpeojtrs.sca.spd">
	<xs:complexType name="softPkg">
		<xs:sequence>
			<xs:element name="title" type="xs:string" minOccurs="0"/>
			<xs:element type="author" name="author" maxOccurs="unbounded"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="propertyfile" type="propertyFile" minOccurs="0" ecore:name="propertyFile"/>
			<xs:element name="descriptor" type="descriptor" minOccurs="0"/>
			<xs:element name="implementation" type="implementation" maxOccurs="unbounded"/>
			<xs:element name="usesdevice" type="usesDevice" minOccurs="0" maxOccurs="unbounded" ecore:name="usesDevice"/>
		</xs:sequence>
		<xs:attribute ecore:id="true" name="id" use="required" type="xs:string"/>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:element name="softpkg" type="softPkg"/>
	<xs:complexType name="localFile">
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="propertyFile">
		<xs:sequence>
			<xs:element name="localfile" type="localFile" ecore:name="localFile"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="author">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="company" type="xs:string" minOccurs="0"/>
			<xs:element name="webpage" type="xs:anyURI" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="descriptor">
		<xs:sequence>
			<xs:element name="localfile" type="localFile"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="implementation">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="propertyfile" type="propertyFile" minOccurs="0" ecore:name="propertyFile"/>
			<xs:element type="code" name="code"/>
			<xs:element name="compiler" type="compiler" minOccurs="0"/>
			<xs:element name="programminglanguage" type="programmingLanguage" minOccurs="0" ecore:name="programmingLanguage"/>
			<xs:element name="humanlanguage" type="humanLanguage" minOccurs="0" ecore:name="humanLanguage"/>
			<xs:element name="runtime" type="runtime" minOccurs="0"/>
			<xs:choice maxOccurs="unbounded" ecore:name="dependencyMap">
				<xs:element name="os" type="os"/>
				<xs:element name="processor" type="processor"/>
				<xs:element name="dependency" type="dependency"/>
			</xs:choice>
			<xs:element name="usesdevice" type="usesDevice" minOccurs="0" maxOccurs="unbounded" ecore:name="usesDevice"/>
		</xs:sequence>
		<xs:attribute ecore:id="true" name="id" use="required" type="xs:string"/>
		<xs:attribute name="aepcompliance" default="aep_compliant" ecore:name="aepCompliance">
			<xs:simpleType ecore:name="AEPComplianceType">
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="aep_compliant"/>
					<xs:enumeration value="aep_non_compliant"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="code">
		<xs:sequence>
			<xs:element name="localfile" type="localFile" ecore:name="localFile"/>
			<xs:element name="entrypoint" type="xs:string" minOccurs="0" ecore:name="entryPoint"/>
			<xs:element name="stacksize" type="xs:unsignedLong" minOccurs="0" ecore:name="stackSize"/>
			<xs:element name="priority" type="xs:unsignedLong" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="codeFileType"/>
	</xs:complexType>
	<xs:simpleType name="codeFileType" ecore:name="CodeFileType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Executable"/>
			<xs:enumeration value="KernelModule"/>
			<xs:enumeration value="SharedLibrary"/>
			<xs:enumeration value="Driver"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="compiler">
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="programmingLanguage">
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="humanLanguage">
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="os">
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="processor">
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="dependency">
		<xs:choice>
			<xs:element name="softpkgref" type="softPkgRef" ecore:name="softPkgRef"/>
			<xs:element name="propertyref" type="propertyRef" ecore:name="propertyRef"/>
                        <!-- REDHAWK extension: support any property type dependency -->
			<xs:element name="simpleref" type="simpleref" ecore:name="simpleRef"/>
			<xs:element name="simplesequenceref" type="simplesequenceref" ecore:name="simpleSequenceRef"/>
			<xs:element name="structref" type="structref" ecore:name="structRef"/>
			<xs:element name="structsequenceref" type="structsequenceref" ecore:name="structSequenceRef"/>
		</xs:choice>
		<xs:attribute name="type" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="runtime">
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="propertyRef">
		<xs:attribute name="refid" use="required" type="xs:string" ecore:name="refId"/>
		<xs:attribute name="value" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="softPkgRef">
		<xs:sequence>
			<xs:element name="localfile" type="localFile" ecore:name="localFile"/>
			<xs:element name="implref" type="implRef" minOccurs="0" ecore:name="implRef"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="implRef">
		<xs:attribute name="refid" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="usesDevice">
		<!-- REDHAWK extension: support any property type dependency -->
		<xs:choice maxOccurs="unbounded">
			<xs:element name="propertyref" type="propertyRef" ecore:name="propertyRef"/>
			<xs:element name="simpleref" type="simpleref" ecore:name="simpleRef"/>
			<xs:element name="simplesequenceref" type="simplesequenceref" ecore:name="simpleSequenceRef"/>
			<xs:element name="structref" type="structref" ecore:name="structRef"/>
			<xs:element name="structsequenceref" type="structsequenceref" ecore:name="structSequenceRef"/>
		</xs:choice>
		<xs:attribute ecore:id="true" name="id" use="required" type="xs:string"/>
		<xs:attribute name="type" use="required" type="xs:string"/>
	</xs:complexType>
        <!-- REDHAWK extension: support any property type dependency -->
	<xs:complexType name="simpleref">
		<xs:attribute name="refid" use="required" type="xs:string" ecore:name="refId"/>
		<xs:attribute name="value" use="required" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="simplesequenceref" >
		<xs:sequence>
			<xs:element name="values" type="values"/>
		</xs:sequence>
		<xs:attribute name="refid" use="required" type="xs:string" ecore:name="refId"/>
	</xs:complexType>
	<xs:complexType name="structref">
		<xs:sequence>
			<xs:element name="simpleref" type="simpleref" maxOccurs="unbounded" ecore:name="simpleRef"/>
		</xs:sequence>
		<xs:attribute name="refid" use="required" type="xs:string" ecore:name="refId"/>
	</xs:complexType>
	<xs:complexType name="structsequenceref">
		<xs:sequence>
			<xs:element name="structvalue" type="structvalue" maxOccurs="unbounded" ecore:name="structValue"/>
		</xs:sequence>
		<xs:attribute name="refid" use="required" type="xs:string" ecore:name="refId"/>
	</xs:complexType>
	<xs:complexType name="structvalue">
		<xs:sequence>
			<xs:element name="simpleref" type="simpleref" maxOccurs="unbounded" ecore:name="simpleRef"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="values">
		<xs:sequence>
			<xs:element name="value" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
